 {% extends "ticketCRUD/home.html" %}

 {% block content %}

 <h2 class="text-center"><a href="{% url 'ticketCRUD:ticket_list' %}" class="btn btn-primary ">Show Tickets</a>
     <a href="/" class="btn btn-secondary ">Main Menu</a></h2>

 <form method="POST" enctype="multipart/form-data">
     {% csrf_token %}

     <div class="row py-3">
         <div class="col-sm-12 d-flex justify-content-center">
             <div class="card  " style="width: 25rem;">
                 <div class="card-body bg-secondary ">
                     <h5 class="card-title text-center"> Ticket Edit: {{ ticket.id }} </h5>
                     <p class="card-text"><br>
                         <p>
                            <b><label for="id_name" class="form-label">{{form.name.label_tag}}</label></b>
                             <input id="id_name" type="text" name="name" class="form-control" value={{form.name.value}} required>
                             
                         </p>

                         <p>
                            <b><label for="id_age" class="form-label">Age:</label></b>
                             <input id="id_age" type="number" name="age" class="form-control" value={{form.age.value}} required>
                         </p>
                         <p>
                            <b><label for="id_address" class="form-label">Address:</label></b>
                             <textarea  id="id_address" name="address" rows="2" cols="20" class="form-control" value=`ticket.address` required>{{form.address.value}}</textarea>
                         </p>

                         <p>
                            <b> <label for="id_city" class="form-label">Choose City: </label></b>

                             <select name="city" id="id_city" class="form-select" required>
                                 <option value="Delhi">Delhi</option>
                                 <option value="Mumbai">Mumbai</option>
                                 <option value="Chennai">Chennai</option>
                                 <option value="Kolkata">Kolkata</option>
                             </select>
                         </p>

                         <p>
                            <b> <label for="id_state" class="form-label">Choose State: </label></b>

                             <select name="state" id="id_state" class="form-select"  required>
                                 <option value="Delhi">Delhi</option>
                                 <option value="Maharashtra">Maharashtra</option>
                                 <option value="Tamil Nadu">Tamil Nadu</option>
                                 <option value="Kolkata">West Bengal</option>
                             </select>
                         </p>

                         <p>
                            <b> <label for="id_travelDate" class="form-label">Travelling Date: </label></b>
                             <input id="id_travelDate" type="date" name="travelDate" class="form-control" required>
                         </p>

                         <p>
                            <b>  <label for="id_source" class="form-label">Choose From Station: </label></b>

                             <select name="source" id="id_source" class="form-select" value={{form.source.value}} required>
                                 <option value="Delhi">Delhi</option>
                                 <option value="Mumbai">Mumbai</option>
                                 <option value="Chennai">Chennai</option>
                                 <option value="Kolkata">Kolkata</option>
                             </select>
                         </p>

                         <p>
                            <b>  <label for="id_dest" class="form-label">Choose Destination Station: </label></b>

                             <select name="dest" id="id_dest" class="form-select"  required>
                                 <option value="Delhi">Delhi</option>
                                 <option value="Mumbai">Mumbai</option>
                                 <option value="Chennai">Chennai</option>
                                 <option value="Kolkata">Kolkata</option>
                             </select>
                         </p>

                         <p>
                            <b>  <label for="id_train" class="form-label">Choose Train: </label></b>

                             <select name="train" id="id_train" class="form-select" required>
                                 <option value="Rajdhani">Rajdhani</option>
                                 <option value="Shatabdi">Shatabdi</option>
                                 <option value="Bullet">Bullet</option>
                             </select>
                         </p>

                         <p>
                            <b> <label for="id_price" class="form-label">Choose Price: </label></b>

                             <select name="price" id="id_price" class="form-select" required>
                                 <option value=3000.50>AC-1: Rs: 3000.50 </option>
                                 <option value=2000.50>AC-2: Rs: 2000.50 </option>
                                 <option value=1000.50>AC-3: Rs: 1000.50 </option>

                             </select>
                         </p>

                         <p>
                            <b> <label for="id_intTravel" class="form-label">International Travel:</label></b>
                             <input id="id_intTravel" type="checkbox" name="intTravel"  class="form-check-input" >
                         </p>

                         <p>
                            <b> <label class="form-label">Aarogya Setu App Status: </label></b>

                             <input type="radio" id="id_setuStatus" name="setuStatus" value="Green" class="form-check-input" required>
                             <label for="id_setuStatus">Green</label>

                             <input type="radio" id="id_setuStatus" name="setuStatus" value="Red" class="form-check-input" required>
                             <label for="id_setuStatus">Red</label>

                         </p>

                         <p>
                            <b>  <label for="id_report" class="form-label">Carrying RT-PCR Report</label></b>
                             <input id="id_report" type="checkbox" name="report" class="form-check-input" >
                         </p>

                         <p>
                            <b> <label for="id_image" class="form-label">Upload Aadhar Image:</label></b>
                            <p >{{form.image.as_widget}}</p>
                            <!-- <input type="file" id="id_image" name="image" class="form-control" required> -->
                         </p>

                         <!-- {{ form.as_ul}} -->
                         <button class="btn btn-success col-sm-12 d-flex justify-content-center" type="submit"
                             value="Submit">Submit</button>


                 </div>
             </div>
         </div>

     </div>
 </form>
 {% endblock %}
